body {
  font-family: arial;
  text-align: center;
  background-color: #ebdeda;
}

.navbar {
  background-color: #ffe4e1;
}

.about {
  text-align: wrap;
  font-size: 20px;
  border-radius: 100px;
  height: 500px;
  width: 60%;
  margin-left: 300px;
  margin-top: 50px;
}

.default {
  border-radius: 300px;
}

.intro {
  margin-top: 100px;
  text-align: center;
}

